includes:
    - .phpstan.dist.baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    phpVersion:
        min: 70100
        max: 80399
    paths:
        - library
    excludePaths:
        - library/Zend/Db/Statement.php
        - library/Zend/Service/WindowsAzure/Log/Writer/WindowsAzure.php
        - library/Zend/Soap/Client/Common.php
        - library/Zend/Stdlib/SplPriorityQueue.php
        - library/Zend/Test/
    level: 5
    tmpDir: .phpstan.cache
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # @see PCR360-11597 OCILob class renamed from OCI-Lob in PHP8. CI has no Oracle extension.
        -
            message: '#Class OCILob not found#'
            path: library/Zend/Db/Statement/Oracle.php
        -
            message: '#Instanceof between string and OCILob will always evaluate to false#'
            path: library/Zend/Db/Statement/Oracle.php
        # @see PCR360-2874 We fixed the by-ref issue — upstream baseline expects the old error
        -
            message: '#Ignored error.*array_splice.*passed by reference#'
            reportUnmatched: false
